@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

@import "react-responsive-carousel/lib/styles/carousel.min.css";


body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


*, *:before, *:after {

  box-sizing: content-box;

}

code {

    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

#niemisPanimoHeader {

  font-weight: 900;
  font-family: 'Bungee';
  font-size: 80px;
  color: #93ea1f;
  align-self: 'center';

}

.niemisPanimoCrew {

  margin-top: 10px;
  width: 700px;
  height: 225px;

}

#niemisPanimoIg {

  font-weight: 'bold';
  color: #93ea1f;

}

#niemisInfo {

  color: #93ea1f;
  font-family:  'Bungee';

}


.cardPicture {

  width: 540px;
  height: 540px;
  align-self: center;

}

.description {

  display: flex;
  max-width: 540px;
  justify-content: center;
  margin: 7px;
  text-align: center;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: bold;

}

.card {

  padding: 20px;
  margin: 10px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  

}

.card-body {
  margin: 10px
}

#reviewButtons {

  display: flex;
  justify-content: center;
  align-items: center;

}

#checkbox {
  margin: 10px;
}

#average {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.content {

  border-right: 50px solid black;
  border-left: 50px solid black;
  border-image-source: url('./imgs/codeSmall.png');
  border-image-repeat: round;
  border-image-slice: 27;
  display:flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  align-items: center;
  justify-content: center;

}

.carousel-root {
  
  margin: 20px;
  width: 500px;
  height: auto;

}

.frontPageChoices {

  display:flex;
  flex-direction: column;
  align-items: center;
  
}

.frontPageChoices:hover .frontPageImgs {

  opacity: 0.4;

}


.frontPageChoicesText {

  font-family: 'Bungee';
  color:#93ea1f;
  font-size: x-large;

}

#ig:hover {

  opacity: 0.4

}

#passWordField {

  margin-left: 44px;

}

#login {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px,
  
}

#beerNameDiv {

  padding: 8px;
}

#loginButton {

  align-self: center;

}

#userNameDiv {

  padding: 2px;

}

#passwordDiv {

  padding: 2px;

}


#App {

  display:flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  overflow: auto;
  border: 50px solid black;
  border-image-source: url('./imgs/codeSmall.png');
  border-image-repeat: round;
  border-image-slice: 27;
  
}

#username {

  padding: 5px;

}

#password {

  padding: 5px;

}

#login {

  display: flex;
  flex-direction: row;

}

#loginButton {

  margin: 10px;

}

#newBeerButton {

  margin: 10px;
  
}

#streetCred {

  color: #93ea1f;

} 

#loginButtonModalDiv {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}

#loginButtonModal {

  align-self: center;

}

#signInButton {

  margin: 10px;

}

#signUpButtonModalDiv {

  display: flex;
  flex-direction:row;
  justify-content: center;
  margin: 10px;
}

#formDiv {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#formDivK {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}


#leaveReviewDiv {

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#addBeerDiv {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#beerRating {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}


input[type="radio"] {

  display: none;
  
}

#leaveReviewDiv {

  display: flex;
  flex-direction: column;
  justify-content: center;

}

#description {

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;

}

#beerNameDiv {

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px;
}

#addBeerDescription {

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px;

}

#addBeerFileDiv {

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px;


}

#addBeerButtonDiv {

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px;
} 

#addBeerButton {
  align-self: center;
  margin: 7px;
}

#leaveReviewButtonDiv {

  display: flex;
  flex-direction: row;
  justify-content: center;

}

#leaveReviewButton {

  align-self: center;

}

#loggedIn {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

 #ratingErrorMessage {

   display: flex;
   flex-direction: row;
   justify-content: center;

 }

 #reviews {

  display: flex;
  flex-direction: column;
  justify-content: center;

 }

 #reviewsTop {

   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: #93e828;
   padding: 5px;

 }

 #readReviewsButton {

  margin: 10px

 }

 #reviewsContent {

 display: flex;
 justify-content: center;
 align-items: center;
  word-wrap: break-word;
  padding: 20px;
  text-align: center;

 }

 #reviewVerdict {

  margin-left: 10px;
  
 } 

 #reviewButtons {

  padding: 10px;
  
}

#review {

  margin-bottom: 10px;
  background-color: #e0e0e0;
  font-family: 'Merriweather';

}

@media only screen and (max-width: 900px) {

  .carousel-root {
  
    margin: 20px;
    width: 250px;
    height: 100%;

  }

  #root {

    height: 100%;
    
  }

  #container {

    height: 100%;

  }
  
  .niemisPanimoCrew {

    width: 300px;
    height: 96px;

  }

  .cardPicture {

    width: 180px;
    height: 180px;
    
  }

  .content {        

    padding: 0;
    margin: 0;
    border-right: 25px solid black;
    border-left: 25px solid black;
    border-image-source: url('./imgs/codeSmall.png');
    border-image-repeat: round;
    border-image-slice: 27;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    align-items: center;
    justify-content: center;

  }
  

  #App {

    display:flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    overflow: auto;
    border: 20px solid blue;
    border-image-source: url('./imgs/codeSmall.png');
    border-image-repeat: round;
    border-image-slice: 27;
    
  }

  .frontPageImgs {

    width: 85px;
    height: 85px;

  }

  #niemisPanimoHeader {
    
    font-family: 'Bungee';
    font-size: 30px;
    color: #93ea1f;
    align-self: 'center';
  
  }

  #streetCred {

    color: #93ea1f;
    font-size: 12px;

  } 

  #niemisPanimoIg {

    margin-left: 5;
    font-weight: 'bold';
    color: #93ea1f;
    font-size: 12px;

  }

  .frontPageChoicesText {

    font-family: 'Bungee';
    color:#93ea1f;
    font-size: small;
  
  }

  .cardSpecs {

    display: flex;
    justify-content: center;
    align-content: center;

  }

  .card {

    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
    background-color: #e0e0e0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 160px !important;

  }

  .card Button {

    margin: 5px;

  }

  .card-text {

    max-width: 150px;
    word-wrap: break-word;

  }

  .description {

    display: flex;
    max-width: 540px;
    justify-content: center;
    margin: 7px;
    text-align: center;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: bold;
    font-size: small;
  
  }


  .descriptions {
  
    display: flex;
    max-width: 100px;
    justify-content: center;
    margin: 7px;

  }
 
}


